{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_image %}
    {% set hoverCover = product.extensions.hover_cover.media %}
    <div class="product-image-wrapper">
        {# fallback if display mode is not set #}
        {% set displayMode = displayMode ?: 'standard' %}

        {# set display mode 'cover' for box-image with standard display mode #}
        {% if layout == 'image' and displayMode == 'standard' %}
            {% set displayMode = 'cover' %}
        {% endif %}

        <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
           title="{{ name }}"
           {% if hoverCover.url %}data-hover-thumbnail="true"{% endif %}
           class="product-image-link is-{{ displayMode }} {% if hoverCover.url %}has-hover-thumbnail{% endif %}">
            {% if hoverCover.url %}
                {% sw_thumbnails 'product-image-thumbnails' with {
                    media: hoverCover,
                    sizes: {
                        'xs': '501px',
                        'sm': '315px',
                        'md': '427px',
                        'lg': '333px',
                        'xl': '284px'
                    },
                    attributes: {
                        class: 'hover-thumbnail product-image is-'~displayMode,
                    }
                } %}
            {% endif %}
            {% if cover.url %}
                {% set attributes = {
                    'class': 'product-image is-'~displayMode,
                    'alt': (cover.translated.alt ?: name),
                    'title': (cover.translated.title ?: name)
                } %}

                {% if displayMode == 'cover' or displayMode == 'contain' %}
                    {% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
                {% endif %}

                {% sw_thumbnails 'product-image-thumbnails' with {
                    media: cover,
                    sizes: {
                        'xs': '501px',
                        'sm': '315px',
                        'md': '427px',
                        'lg': '333px',
                        'xl': '284px'
                    }
                } %}
            {% else %}
                <div class="product-image-placeholder">
                    {% sw_icon 'placeholder' style {
                        'size': 'fluid'
                    } %}
                </div>
            {% endif %}
        </a>
    </div>
{% endblock %}
